* { text-decoration: none; }
html {
  background: url(/assets/images/Middle-Earth_MAP.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
